/*organizzazione  Macro Aree */
body{
    background-color: #d6dbd7;
}
/* preferito creare i container che stanno in background con altezze padding e colori custom */
/* sezione verde di background */
.green-section{
    width: 100%;
    height: 120px;
    background-color: #029688;
}
/* dove è contenuta tutta l'applicazione */
.application{
    transform: translate(-50%,-2%);
    height: 100vh;
}
/* tutti gli header */
.sidebar-header,.main-header,.main-footer{
    height: 60px;
    background-color: #f2ede9;
}
/* sezione alert dove si disattivano le notifiche */
.alert{
    height: 80px;
    background-color: #8edafc;
}
/* sezione input per cercare o aggiungere nuove chat */
.search{
    height: 50px;
}
/* conteiner centrale , il cuore dell'app */
.main-central{
    height: calc(100vh - 120px);
    background: url('../img/mine.jpg');
    object-fit: contain;
    overflow-y: scroll;
}
/* -------------------------------------------------- */
/* Sidebar */
/* lista della sidebar */
ul{
    width: 100%;
}
li{
    display: flex;
    list-style: none;
    margin: 10px 0;
}
li>img,.user>img,.recipient>img{
    width: 50px;
    height: 50px;
}
/* dimensioni e colori icone */
.user>i,.recipient>i{
    font-size: 20px;
    color: gray;
}
/* icona della campanella nella sezione alert */
.fa-bell-slash{
    color: #8edafc;
    background: white;
    font-size: 25px;
    padding: 10px;
}
/* font size di questo paragrafo customizzato */
.text-box>p{
    font-size: 12px;
}
/* css degli input */
.search>input,.chat-textbox>input{
    width: 100%;
    height: 80%;
}
.recipient-data-text>div{
    font-size: 12px;
}
/* Footer di pagina */
.chat-emoji>i,.chat-rec>i{
    font-size: 25px;
    color: gray;
}
/* sezione messaggi */
/* clearfix per flottare */
.chat-message::after{
    content: "";
    display: table;
    clear: both;
}
.message{
    margin: 5px;
    width: 100%;
    height: 70px;
}
.messageGreen,.messageWhite{
    position: relative;
    display: flex;
    width: 350px;
    height: 100%;
    padding: 0 5px;
    border-radius: 5px;
    justify-content: space-between;
}
/* messaggi verdi utente */
.messageGreen{
    float: right;
    background-color: #d3f9ba;
}
/* messaggi bianchi mittente */
.messageWhite{
    float: left;
    background-color: white;
}
.message>span{
    font-size: 12px;
}
/* contenuto messaggi */
.messageContent{
  font-size: 13px;
  align-self: center;
}
.messageDate{
    font-size: 8px;
    margin-top: 20px;
    align-self: flex-end;
}
.fa-chevron-down{
    color: gray;
}

.modals{
    width: 100px;
    height: 50px;
    background-color: white;
}
.modals>p{
    text-align: center;
    font-size: 10px;
}