/*organizzazione  Macro Aree */
body{
    background-color: #d6dbd7;
}
.cento{
    height: 100vh;
}
/* preferito creare i container che stanno in background con altezze padding e colori custom */
.big-container{
    width: 100%;
}
.green-section{
    width: 100%;
    height: 120px;
    background-color: #029688;
}
.application{
    transform: translate(-50%,-2%);
    height: 100vh;
}
.sidebar-header,.main-header,.main-footer{
    height: 60px;
    background-color: #f2ede9;
}
.alert{
    height: 80px;
    background-color: #8edafc;
}
.search{
    height: 50px;
}
.main-central{
    height: calc(100% - 120px);
    background: url('../img/mine.jpg');
    object-fit: contain;
}
/* -------------------------------------------------- */
/* Sidebar */
/* container conversation o contenitore delle conversazioni */
ul{
    width: 100%;
}
li{
    display: flex;
    list-style: none;
    margin: 10px 0;
}
li>img,.user>img,.recipient>img{
    width: 50px;
    height: 50px;
}
/* dimensioni e colori icone */
.user>i,.recipient>i{
    font-size: 20px;
    color: gray;
}
.fa-bell-slash{
    color: #8edafc;
    background: white;
    font-size: 25px;
    padding: 10px;
}
/* font size di questo paragrafo customizzato */
.text-box>p{
    font-size: 12px;
}
/* css degli input */
.search>input,.chat-textbox>input{
    width: 100%;
    height: 80%;
}
.recipient-data-text>div{
    font-size: 12px;
}
/* Footer di pagina */
.chat-emoji>i,.chat-rec>i{
    font-size: 25px;
    color: gray;
}
/* sezione messaggi */
.chat-message::after,.messageGreen::after,.messageWhite::after {
    content: "";
    display: table;
    clear: both;
}


.message{
    margin: 5px;
    width: 100%;
    height: 60px;
}
.messageGreen,.messageWhite{
    width: 300px;
    height: 100%;
    padding: 0 5px;
    line-height: 60px;
    border-radius: 5px;
}
.messageGreen{
    float: right;
    background-color: #d3f9ba;
}
.messageWhite{
    float: left;
    background-color: white;
}
.message>span{
    font-size: 12px;
}
/* contenuto messaggi */
.messageContent{
  font-size: 15px;
}
.messageDate{
    float: right;
    font-size: 8px;
    margin-top: 20px;
}